<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Music Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="list">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="author">Authors</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
	<form {{action 'addNewAuthor' on='submit'}}>
		<div class="jumbotron">
			<h1 class="display-4">Add an author</h1>
			<p class="lead">Type the author information. Then clic Add Author.</p>
			<div class="form-row">
				<div class="col-md-4 mb-3">
					<label for="validationFirstName">First Name</label>
					{{input type="text" class="form-control" id="validationFirstName" placeholder="First Name" value=first_name}}
					<div class="valid-feedback">
						Looks good!
					</div>
				</div>
			<div class="col-md-4 mb-3">
				<label for="validationLastName">Last Name</label>
				{{input type="text" class="form-control" id="validationLastName" placeholder="Last name" value=last_name}}
				<div class="valid-feedback">
					Looks good!
				</div>
			</div>
			<div class="col-md-4 mb-3">
				<label for="validationNickName">Nick Name</label>
				{{input type="text" class="form-control" id="validationNickName" placeholder="Nick Name" value=nickname}}
				<div class="valid-feedback">
					Looks good!
				</div>
			</div>  
			</div>
    <button class="btn-advise btn btn-primary" type="submit">Add Author</button>
		</div>

	</form>
</div>

{{#each model as |author|}}
<br>
	<div class="container">
	<li class="list-group-item list-group-item-primary">Name: {{author.first_name}}
			<button type="button" class="btn-align btn btn-light btn-sm">
					{{#link-to 'author-detail' author.id}}
						Edit
					{{/link-to}}
			</button>
	</li>
	 <li class="list-group-item">Last Name: {{author.last_name}}</li>
	<li class="list-group-item">Nick Name: {{author.nickname}}</li> 
    {{!-- <li class="list-group-item">Age: {{author.age}}</li>	 --}}
	</div>
<br>
{{/each}}