<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Music Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
    <h1>Book Music Detail</h1>
      {{#link-to 'list'}}
	    Go Back
    {{/link-to}}

    <form {{action 'saveMusicBook' model on='submit'}}>
        <p>{{input type="text" value=model.title}}</p>
        <p>{{input type="text" value=model.author}}</p>
        <p>{{input type="number" value=model.price}}</p>

        <button type="submit">Update Data</button>
    </form>

    <br>
    <button {{action 'destroyMusicBook' model on='click'}}>Delete</button>
</div>