<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Music Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="author">Authors</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
  <ul class="list-group">
{{!-- Add a new book --}}
    <br>
    <br>
    <form class="jumbotron jumbotron-fluidv needs-validation" novalidate{{action 'addMusicBook' on='submit'}}>
    <div class="container">
        <h1 class="display-4">Add a new Book</h1>
        <p class="lead">Type the Music Book information. Then clic Add Music Book.</p>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationBookName">Book Name</label>
          {{input type="text" class="form-control" id="validationBookName" placeholder="Book name" value=title}}
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationAuthor">Author</label>
          {{input type="text" class="form-control" id="validationAuthor" placeholder="Author name" value=author}}
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationPrice">Price</label>
          {{input type="number" class="form-control" id="validationPrice" placeholder="Price" value=price}}
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>  
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationImgUrl">Url Image</label>
          {{input type="text" class="form-control" id="validationImgUrl" placeholder="Enter Url image" value=imgUrl}}
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
      </div>
      <button class="btn-advise btn btn-primary" type="submit">Add Music Book</button>
    </form>


    {{!-- Loop for books --}}
    {{#each model as |music-book|}}
    <br>
        
      <li class="list-group-item list-group-item-success">Book Name: {{music-book.title}}
         <button type="button" class="btn-align text-info btn btn-outline-success btn-sm">
            {{#link-to 'detail' music-book.id}}
            Edit
            {{/link-to}}
            </button>
      </li>
      <li class="list-group-item">Author: {{music-book.author}}</li>
      <li class="list-group-item">Price: {{music-book.price}}</li>
        <li class="list-group-item">Photo:  <img src="{{music-book.imgUrl}}" class="img-size rounded mx-auto d-block" alt="{{music-book.imgUrl}}"></li>
        {{!-- <button {{action 'deleteMusicBook' on='click'}}>Delete Music Book</button> --}}
    <br>
    {{/each}}
    </ul>
</div>
